#### Excercise

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [4]:
df.shape

(918, 12)

In [5]:
df['zscoreBP']=(df['RestingBP']-df['RestingBP'].mean())/df['RestingBP'].std()
df['zscoreChole']=(df['Cholesterol']-df['Cholesterol'].mean())/df['Cholesterol'].std()
df['zscoreBS']=(df['FastingBS']-df['FastingBS'].mean())/df['FastingBS'].std()
df['zscoreMaxHR']=(df['MaxHR']-df['MaxHR'].mean())/df['MaxHR'].std()
df['zscoreOldpeak']=(df['Oldpeak']-df['Oldpeak'].mean())/df['Oldpeak'].std()

In [6]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscoreBP,zscoreChole,zscoreBS,zscoreMaxHR,zscoreOldpeak
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746,0.105606
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041,-1.524307,-0.831979
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041,-1.131539,0.574398
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041,-0.581664,-0.831979

In [7]:
df.shape

(918, 17)

In [8]:
df_1=df[(df['zscoreBP']<3) & (df['zscoreBP']>-3) ]

In [9]:
df_2=df_1[(df_1['zscoreChole']<3) & (df_1['zscoreChole']>-3) ]

In [10]:
df_3=df_2[(df_2['zscoreBS']<3) & (df_2['zscoreBS']>-3) ]

In [11]:
df_4=df_3[(df_3['zscoreMaxHR']<3) & (df_3['zscoreMaxHR']>-3) ]

In [12]:
df_5=df_4[(df_4['zscoreOldpeak']<3) & (df_4['zscoreOldpeak']>-3) ]

In [13]:
df_5.shape

(899, 17)

In [14]:
df_5['Sex']= pd.get_dummies(df_5['Sex'],drop_first=True)

C:\Users\saras\AppData\Local\Temp\ipykernel_14212\3423353337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Sex']= pd.get_dummies(df_5['Sex'],drop_first=True)

In [15]:
df_5.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscoreBP,zscoreChole,zscoreBS,zscoreMaxHR,zscoreOldpeak
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746,0.105606

In [16]:
df_5.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [17]:
df_5.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [18]:
df_5.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [19]:
df_5.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [20]:
df_CPT=pd.get_dummies(df_5['ChestPainType'],drop_first=True)

In [21]:
df_RECG=pd.get_dummies(df_5['RestingECG'],drop_first=True)

In [22]:
df_5['ExerciseAngina']= pd.get_dummies(df_5['ExerciseAngina'],drop_first=True)

C:\Users\saras\AppData\Local\Temp\ipykernel_14212\1601104806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['ExerciseAngina']= pd.get_dummies(df_5['ExerciseAngina'],drop_first=True)

In [23]:
df_STS= pd.get_dummies(df_5['ST_Slope'],drop_first=True)

In [24]:
df_5.drop(['ChestPainType','RestingECG','ST_Slope'],axis=1,inplace=True)

C:\Users\saras\AppData\Local\Temp\ipykernel_14212\1286560877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5.drop(['ChestPainType','RestingECG','ST_Slope'],axis=1,inplace=True)

In [34]:
df_5.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,zscoreBP,zscoreChole,zscoreBS,zscoreMaxHR,zscoreOldpeak
0,40,1,140,289,0,172,0,0.0,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,0,160,180,0,156,0,1.0,1,1.490940,-0.171867,-0.551041,0.753746,0.105606
2,37,1,130,283,0,98,0,0.0,0,-0.129442,0.769768,-0.551041,-1.524307,-0.831979
3,48,0,138,214,0,108,1,1.5,1,0.302660,0.138964,-0.551041,-1.131539,0.574398
4,54,1,150,195,0,122,0,0.0,0,0.950812,-0.034736,-0.551041,-0.581664,-0.831979

In [35]:
df_main=pd.concat([df_5,df_CPT,df_RECG,df_STS],axis=1)

In [36]:
df_main.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,zscoreBP,...,zscoreBS,zscoreMaxHR,zscoreOldpeak,ATA,NAP,TA,Normal,ST,Flat,Up
0,40,1,140,289,0,172,0,0.0,0,0.410685,...,-0.551041,1.382175,-0.831979,1,0,0,1,0,0,1
1,49,0,160,180,0,156,0,1.0,1,1.490940,...,-0.551041,0.753746,0.105606,0,1,0,1,0,1,0
2,37,1,130,283,0,98,0,0.0,0,-0.129442,...,-0.551041,-1.524307,-0.831979,1,0,0,0,1,0,1
3,48,0,138,214,0,108,1,1.5,1,0.302660,...,-0.551041,-1.131539,0.574398,0,0,0,1,0,1,0
4,54,1,150,195,0,122,0,0.0,0,0.950812,...,-0.551041,-0.581664,-0.831979,0,1,0,1,0,0,1

In [37]:
df_main.columns

Index(['Age', 'Sex', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR',
       'ExerciseAngina', 'Oldpeak', 'HeartDisease', 'zscoreBP', 'zscoreChole',
       'zscoreBS', 'zscoreMaxHR', 'zscoreOldpeak', 'ATA', 'NAP', 'TA',
       'Normal', 'ST', 'Flat', 'Up'],
      dtype='object')

In [39]:
df_main.drop(['HeartDisease','zscoreBP','zscoreChole','zscoreBS','zscoreMaxHR','zscoreOldpeak'],axis=1,inplace=True)

In [40]:
df_main.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ATA,NAP,TA,Normal,ST,Flat,Up
0,40,1,140,289,0,172,0,0.0,1,0,0,1,0,0,1
1,49,0,160,180,0,156,0,1.0,0,1,0,1,0,1,0
2,37,1,130,283,0,98,0,0.0,1,0,0,0,1,0,1
3,48,0,138,214,0,108,1,1.5,0,0,0,1,0,1,0
4,54,1,150,195,0,122,0,0.0,0,1,0,1,0,0,1

In [41]:
X=df_main

In [45]:
y=df_5['HeartDisease']

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42815446,  0.515943  ,  0.46590022, ..., -0.48989795,
        -0.99888827,  1.13469459],
       [-0.47585532, -1.93819859,  1.63471366, ..., -0.48989795,
         1.00111297, -0.88129441],
       [-1.7455875 ,  0.515943  , -0.1185065 , ...,  2.04124145,
        -0.99888827,  1.13469459],
       ...,
       [ 0.3706328 ,  0.515943  , -0.1185065 , ..., -0.48989795,
         1.00111297, -0.88129441],
       [ 0.3706328 , -1.93819859, -0.1185065 , ..., -0.48989795,
         1.00111297, -0.88129441],
       [-1.63977649,  0.515943  ,  0.34901888, ..., -0.48989795,
        -0.99888827,  1.13469459]])

In [51]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [52]:
model_params = {
    'svm':{
        'model':SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'randomclassifier':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
            
        }
        
    },
    'logistic_regression':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    }
    
}

In [53]:
scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(X_scaled,y)
    scores.append({
        'model':model_name,
        'best_params':clf.best_params_,
        'best_score':clf.best_score_
    })

In [54]:
df_best= pd.DataFrame(scores,columns=['model','best_params','best_score'])
df_best

                 model                best_params  best_score
0                  svm  {'C': 1, 'kernel': 'rbf'}    0.831962
1     randomclassifier       {'n_estimators': 10}    0.795214
2  logistic_regression                  {'C': 10}    0.828634

In [67]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X_scaled)
X_pca

array([[ 3.1127753 , -0.41658958,  0.66578215, ...,  0.18819508,
        -0.11003054,  0.27117526],
       [ 0.19020862, -1.07624669,  0.91867491, ...,  1.02192511,
        -0.23292103, -0.16634318],
       [ 1.63879275,  2.18185473,  0.41776913, ..., -0.59357507,
        -2.04145124,  0.13946001],
       ...,
       [-1.77715593, -1.47905475, -0.30823014, ...,  0.09497848,
         0.37862368,  0.12794198],
       [ 1.10463024,  0.20458484,  1.84982607, ...,  1.07153522,
         1.39743338,  0.34416985],
       [ 2.51254528, -0.47243606, -0.90466298, ...,  0.11362542,
        -0.06814383, -0.01807308]])

In [68]:
model_params = {
    'svm':{
        'model':SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'randomclassifier':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
            
        }
        
    },
    'logistic_regression':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    }
    
}

In [69]:
scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(X_pca,y)
    scores.append({
        'model':model_name,
        'best_params':clf.best_params_,
        'best_score':clf.best_score_
    })

In [70]:
df_bestpca= pd.DataFrame(scores,columns=['model','best_params','best_score'])
df_bestpca

                 model                best_params  best_score
0                  svm  {'C': 1, 'kernel': 'rbf'}    0.829733
1     randomclassifier       {'n_estimators': 10}    0.814140
2  logistic_regression                   {'C': 1}    0.827505